.article__row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article__image-container {
  padding-bottom: 1em;
}

.article__image-container img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article__title {
  padding-bottom: 0.5em;
}

.article__paragraph {
  padding: 0 1.2em 1em 1.2em;
}

// Make image float to right when on larger screens
@include min-breakpoint($medium-breakpoint) {
  .article__row-container {
    display: flex;
    flex-direction: row-reverse;
  }
}

// Add padding to the image container when above xsmall breakpoint
@include min-breakpoint($xsmall-breakpoint + 1) {
  .article__image-container {
    padding: 1em;
  }
}