body {
  background-color: $shark;
}

.articles>:nth-child(4n + 1) {
  background-color: $steel-blue;
}

.articles>:nth-child(4n + 2) {
  background-color: $biscay;
}

.articles>:nth-child(4n + 3) {
  background-color: $crusta;
}

.articles>:nth-child(4n + 4) {
  background-color: $valencia;
}