.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.header-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__img {
  margin: 2em;
}

.header__logo {
  padding-top: 0.5em;
}

.header-section__heading {
  padding: 0.2em;
}

.header-section__paragraph {
  max-width: $large-breakpoint;
  flex-wrap: nowrap;
  padding: 0.5em 2em;
}