// XSmall devices (phones, 320px and up)
$xsmall-breakpoint: 320px;
// Small devices (landscape phones, 576px and up)
$small-breakpoint: 576px;
// Medium devices (tablets, 768px and up)
$medium-breakpoint: 768px;
// Large devices (desktops, 992px and up)
$large-breakpoint: 1040px;