html {
  font-family: 'Segoe UI', Helvetica, sans-serif;
  direction: rtl;
}

body {
  line-height: 1.5;
}

h1 {
  font-size: 2.5em;
  color: $white;
}

h2 {
  font-size: 1.5em;
  color: $silver;
}

p {
  color: $cruise;
}

a {
  color: $silver;
}

a::visited {
  color: $cruise;
}