.article
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

  +element(image)
    display: block // Fix container height
    +box-shadow

  +element(content)
    padding: 1.5em

  +element(title)
    font-size: 1.5em
    color: $silver
    margin-bottom: 1em
    
    &::after
      content: ""
      display: block
      width: 100%
      height: 0.2em
      margin-top: 0.5em
      border-radius: 1em
      background: $silver

  +element(paragraph)
    color: $cruise

// When on
+min-breakpoint($small-breakpoint)
  .article-container
    +element(image)
      padding: 2em

// When on tablet res or above
+min-breakpoint($medium-breakpoint)
  .article
    flex-direction: row
    align-items: center
    padding: 2em