.header
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 0;

  .header-container
    +element(logo)
      display: flex
      flex-direction: row

  +element(logo)
    margin: 0.5em

  +element(title)
    font-size: 2.5em
    padding: 0 0.5em
    color: $white

  +element(sub-title)
    font-size: 1.5em
    color: $silver

  +element(paragraph)
    padding: 1em
    color: $cruise